<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My test page</title>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    
    <form>
		<input type="text" id="admin_id" />
		<input type="password" id="admin_pw" />
	</form>
		<button th:onclick="dataSend()">로그인</button> 	
    
    
  </body>
  <script>
	function dataSend(){
	    const admin = {admin_id: $("#admin_id").val(), 
	    				 admin_pw: $("#admin_pw").val()}
	    $.ajax({
	        url: "/admin/chk",
	        data: admin,
	        type: 'POST',
	    }).done(function (data){
			if(data){
				location.href="/admin/excel";
			}else{
				alert("어드민이 아닙니다.");
			}
	    });
	}
  </script>
</html>