<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
    
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- On Windows machines setting withJansi to true enables ANSI
         color code interpretation by the Jansi library. This requires
         org.fusesource.jansi:jansi:1.8 on the class path.  Note that
         Unix-based operating systems such as Linux and Mac OS X
         support ANSI color codes by default. -->
    <withJansi>false</withJansi>
    <encoder>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5level] %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <append>true</append>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- 로그 파일 경로 및 파일명 -->
      <fileNamePattern>log/logTest.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      
      <!-- 용량 제한 -->
      <maxFileSize>10MB</maxFileSize>
      
      <!--  30일 지난 파일 삭제 -->
      <maxHistory>30</maxHistory>
      
    </rollingPolicy>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5level] %msg%n</pattern>
    </encoder>
  </appender>
  
  <!--에러 로그-->
<appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
  <append>true</append>
  <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
    <!-- 로그 파일 경로 및 파일명 -->
    <fileNamePattern>log/errorLog.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
    
    <!-- 용량 제한 -->
    <maxFileSize>10MB</maxFileSize>
    
    <!--  30일 지난 파일 삭제 -->
    <maxHistory>30</maxHistory>
    
  </rollingPolicy>
  <encoder>
    <charset>UTF-8</charset>
    <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5level] %msg%n</pattern>
  </encoder>
</appender>

  <logger level="DEBUG" name="com.xcally.ars" additivity="FALSE">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" /> 
  </logger>
  
 <root level="DEBUG">
   <appender-ref ref="STDOUT" />
   <appender-ref ref="FILE" />
   <appender-ref ref="ERROR_FILE" />
 </root>

  <root level="OFF">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>
