<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>주문조회</title>
	<link rel="stylesheet" th:href="@{/englander/css/font.css}" />
	<link rel="stylesheet" th:href="@{/englander/css/reset.css}" />
	<link rel="stylesheet" th:href="@{/englander/css/ui.css}" />
	<link rel="stylesheet" th:href="@{/englander/css/common.css}" />
	<link rel="stylesheet" th:href="@{/englander/css/order_list.css}" />
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>

<body>
	<div class="page-navigation">
		<div class="button" onclick="handleClickBackward()">
			<img src="/englander/assets/ico_backward.svg" alt="backward" class="icon" />
		</div>
		<div class="button" onclick="handleClickHome()">
			<img src="/englander/assets/ico_home.svg" alt="backward" class="icon" />
		</div>
	</div>
	<div class="page-container">
		<div class="menu">
			<div class="menu-header">
				<p class="title">주문조회</p>
				<p class="description">주문하신 제품 상세내역입니다.</p>
			</div>
		</div>
		<div class="content">
			<input type="hidden" id="ordererName" th:value="${ordererName}"/>
			<input type="hidden" id="ordererPhone1" th:value="${ordererPhone1}"/>
			<input type="hidden" id="receiverAddress" th:value="${receiverAddress}"/>
			<div class="orders">
				<img src="/englander/assets/ico_cart.svg" alt="cart" class="icon" />
				<p class="message">주문하신 상품이 없습니다.</p>
			</div>
		</div>
		<div class="inquiry">
			<div class="inquiry-header">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64.74 64.74" class="icon">
					<defs>
						<style>
							.inquiry-2 {
								fill: #fff;
							}
						</style>
					</defs>
					<g>
						<g>
							<circle class="inquiry-1" cx="32.37" cy="32.37" r="32.37" />
							<path class="inquiry-2"
								d="M30.88,49.72c-.53-.32-.95-.74-1.27-1.27-.32-.53-.47-1.11-.45-1.75-.02-.62,.13-1.19,.45-1.72,.32-.53,.74-.94,1.27-1.25,.53-.3,1.1-.45,1.72-.45s1.19,.15,1.72,.45c.53,.3,.95,.72,1.26,1.26,.31,.54,.47,1.11,.49,1.71-.02,.63-.18,1.22-.49,1.75-.31,.53-.73,.95-1.26,1.27-.53,.32-1.1,.48-1.72,.48s-1.19-.16-1.72-.48Zm4.14-10.02h-4.81l-.46-25.2h5.71l-.44,25.2Z" />
						</g>
					</g>
				</svg>
				<p class="message">
					아래와 같은 경우 <span class="important">1:1 문의하기</span>를 통해 상담을 진행하실 수
					있습니다.
				</p>
				<div class="example">
					<ul>
						<li>
							<span>주문 후 배송조회가 뜨지 않나요?</span>
						</li>
						<li>
							<span>주문시 입력한 정보가 다르게 나오나요?</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="inquiry-footer">
				<p class="message">다른 문의사항이 있으신가요?</p>
				<a onclick="goInquiry()">
					<div class="ui-button primary">
						<span class="title">1:1 문의하기</span>
					</div>
				</a>
			</div>
		</div>
	</div>
	<!-- notice
	<div class="notice" id="notice">
		<p>3G, LTE, 5G 환경에서는 데이터 요금이 발생합니다.</p>
	</div> -->
	<!-- footer -->
	<div class="page-footer-navigation">
		<div class="controller">
			<div class="left-area" onclick="fnArsCall('service00')">
				<div class="button">
					<img src="/englander/assets/ico_headphone.svg" alt="call" class="icon" />
					<span class="title">상담원 연결</span>
				</div>
			</div>
			<div class="right-area" onclick="fnArsCall('service00')">
				<div class="button">
					<img src="/englander/assets/ico_phone.svg" alt="cancel" class="icon" />
					<span class="title">통화종료</span>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	/*<![CDATA[*/
	const urlParams = new URL(location.href).searchParams;
	const token = urlParams.get('token');

	window.onload = function () {
		fnOnLoad();
		fnArsCall("service02");
	};
	function handleClickHome()
	{
		location.href = "/englander/menu";
	}
	function goInquiry() {

		var form = document.createElement('form');
		form.setAttribute('method', 'post');
		form.setAttribute('action', "/englander/inquiry?token=" + token);

		var hiddenField = document.createElement('input');
		hiddenField.setAttribute('type', 'hidden');
		hiddenField.setAttribute('name', 'ordererName');
		hiddenField.setAttribute('value', $("#ordererName").val());
		form.appendChild(hiddenField);

		var hiddenField = document.createElement('input');
		hiddenField.setAttribute('type', 'hidden');
		hiddenField.setAttribute('name', 'ordererPhone1');
		hiddenField.setAttribute('value', $("#ordererPhone1").val());
		form.appendChild(hiddenField);

		var hiddenField = document.createElement('input');
		hiddenField.setAttribute('type', 'hidden');
		hiddenField.setAttribute('name', 'receiverAddress');
		hiddenField.setAttribute('value', $("#receiverAddress").val());

		form.appendChild(hiddenField);
		document.body.appendChild(form);
		form.submit();

	}
	/*]]>*/
</script>

</html>