<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>배송 희망일 요청</title>
	<link rel="stylesheet" th:href="@{/englander/css/font.css}" />
	<link rel="stylesheet" th:href="@{/englander/css/reset.css}" />
	<link rel="stylesheet" th:href="@{/englander/css/ui.css}" />
	<link rel="stylesheet" th:href="@{/englander/css/common.css}+ '?v=1'" />
	<link rel="stylesheet" th:href="@{/englander/css/authentication.css}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/air-datepicker@2.2.3/dist/css/datepicker.min.css">

	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script type="text/javascript" th:src="@{/js/common.js} + '?v=1'"></script>
	<!--달력-->
	<script type="text/javascript" th:src="@{/js/datepicker.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/datelang.js}"></script>
</head>

<body>
	<div class="page-navigation">
		<div class="button" onclick="handleClickBackward()">
			<img src="/englander/assets/ico_backward.svg" alt="backward" class="icon" />
		</div>
		<div class="button" onclick="handleClickHome('englander')">
			<img src="/englander/assets/ico_home.svg" alt="backward" class="icon" />
		</div>
	</div>
	<div class="page-container">
		<div class="menu">
			<div class="menu-header">
				<p class="title">배송 희망일 요청</p>
				<p class="description">* 표시는 필수 입력 사항입니다.</p>
			</div>
		</div>
		<div class="content">
			<input type="hidden" id="inquiryType" th:value="${inquiryType}" />
			<input type="hidden" id="shopNo" th:value="${shopNo}" />
			<!-- text fields -->
			<div class="ui-text-field">
				<label for="name">
					<p class="title">* 이름</p>
					<input id="ordName" th:value="${ordName}" onkeyup="noSpaceForm(this);" type="text"
						placeholder="이름을 입력해주세요" />
				</label>
			</div>
			<div class="ui-text-field">
				<label for="phone">
					<p class="title">* 휴대전화</p>
					<input id="ordPhone" th:value="${ordPhone}" type="number" placeholder="-제외하고 번호만 입력하세요"
						oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
				</label>
			</div>
			<div class="ui-text-field">
				<label for="name">
					<p class="title">* 배송 희망 일자</p>
					<input type="text" id="datepicker" placeholder="YYYY-MM-DD" readonly>
				</label>
			</div>
			<br>
			<div class="ui-text-field">
				<label for="address">
					<p class="title"> 요청 사항</p>
					<div class="ui-textarea">
						<textarea name="content" id="content" maxlength="200"
							placeholder="요청사항을 200자 이내로 써주세요."></textarea>
					</div>
				</label>
			</div>

			<!-- terms -->
			<div class="terms">
				<div class="terms-content">
					<div id="uploadBtn" th:onclick="modal_shipdate_confirm()" class="ui-button primary">
						<span class="title">변경 요청하기</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	<div class="page-footer-navigation">
		<div class="controller">
			<!--
			<div class="left-area">
				<div class="button" onclick="modalcsrOpen()">
					<img src="/englander/assets/ico_headphone.svg" alt="call" class="icon" />
					<span class="title">상담원 연결</span>
				</div>
			</div>-->
			<div class="right-area">
				<div class="button" onclick="modalCallEndOpen();">
					<img src="/englander/assets/ico_phone.svg" alt="cancel" class="icon" />
					<span class="title">통화종료</span>
				</div>
			</div>
		</div>
	</div>

	<!--통화종료모달-->
	<div class="ui-modal" id="modal_endcall">
		<div class="content" style="min-height: 100px;">

			<div class="message">
				<p id="modal_msg">통화를 종료하시겠습니까?</p>
				<p></p>
			</div>
			<div style="display: flex; gap: 10px; margin-top: 20px;">
				<div onclick="modalClose(this)" class="ui-button" style="background-color: #919191;">
					<span class="title">취소</span>
				</div>
				<div onclick="fnEndArs();modalClose(this);" class="ui-button blue">
					<span class="title">통화종료</span>
				</div>
			</div>
		</div>
	</div>

	<!--상담원 연결 모달-->
	<div class="ui-modal" id="modal_csr">
		<div class="content" style="min-height: 100px;">
			<div class="message">
				<p id="modal_msg">상담원 연결을 진행하시겠습니까?</p>
				<p></p>
			</div>
			<div style="display: flex; gap: 10px; margin-top: 20px;">
				<div onclick="modalClose(this)" class="ui-button" style="background-color: #919191;">
					<span class="title">취소</span>
				</div>
				<div onclick="fnCsr();modalClose(this);" class="ui-button blue">
					<span class="title">연결</span>
				</div>
			</div>
		</div>
	</div>

	<!-- 커스텀 메세지 모달 -->
	<div class="ui-modal" id="modal_custom">
		<div class="content">
			<div class="icon">
				<img src="/englander/assets/ico_uncheck.svg" alt="info">
			</div>
			<div class="message">
				<p id="modal_custom_msg"></p>
			</div>
			<div onclick="modalClose(this)" class="ui-button blue">
				<span class="title">닫기</span>
			</div>
		</div>
	</div>
	<!-- modal -->
	<div class="ui-modal" id="modal_shipdate_complete">
		<div class="content">
			<div class="icon">
				<img src="/englander/assets/ico_inquiry_2.svg" alt="info">
			</div>
			<div class="message">
				<p><b>배송 희망일이 접수되었습니다.</b></p>
				<p>빠른 처리를 위해 최선을 다하겠습니다.</p>
				<p>감사합니다.</p>
			</div>
			<div onclick="modalClose(this);fnEndArs();" class="ui-button blue">
				<span class="title">닫기</span>
			</div>
		</div>
	</div>

	<!--confirm-->
	<div class="ui-modal" id="modal_shipdate_confirm">
		<div class="content" style="min-height: 100px;">

			<div class="message">
				<p id="modal_custom_msg">문의를 남기시겠습니까?</p>
				<p></p>
			</div>
			<div style="display: flex; gap: 10px; margin-top: 20px;">
				<div onclick="modalClose(this)" class="ui-button" style="background-color: #919191;">
					<span class="title">닫기</span>
				</div>
				<div onclick="dataSend();modalClose(this)" class="ui-button blue">
					<span class="title">등록</span>
				</div>
			</div>
		</div>
	</div>
	<div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
		<img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer"
			style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()"
			alt="닫기 버튼">
	</div>

	<!--로딩-->
	<div class="wrap-loading display-none">
		<div><img src="/common/loading.gif" style="width:70px;" /></div>
	</div>

</body>
<script>
	const urlParams = new URL(location.href).searchParams;
	const token = urlParams.get('token');

	window.onload = function () {
		fnOnLoad();
	};

	//통화종료
	function fnEndArs() {
		const formData = new FormData();
		formData.append("token", token);

		$.ajax({
			type: 'POST',
			url: "/englander/endArsAjax",
			data: formData,
			cache: false,
			contentType: false,
			processData: false,
			enctype: 'multipart/form-data'
		}).done(function (data) {
			window.close();
		})
	}

	//상담원연결
	function fnCsr() {
		const formData = new FormData();
		formData.append("token", token);

		$.ajax({
			type: 'POST',
			url: "/englander/csrAjax",
			data: formData,
			cache: false,
			contentType: false,
			processData: false,
			enctype: 'multipart/form-data'
		}).done(function (data) {

		})
	}

	$("#datepicker").datepicker({
		dateFormat: "yyyy-mm-dd",
		autoClose: true,
		language: 'en',
		minDate: new Date() // 현재일자 이후만 선택 가능하도록 설정
	});

	//배송일변경 완료 모달
	function modal_shipdate_complete() {
		const modal = document.getElementById("modal_shipdate_complete");
		modal.classList.add("visible");
	}

	//배송일변경 컨펌 모달
	function modal_shipdate_confirm() {
		const modal = document.getElementById("modal_shipdate_confirm");
		modal.classList.add("visible");
	}

	function dataSend() {

		//특수문자가 있는 경우
		var special_pattern = /[`~!@#$%^&*|\\\'\";:\/?]/gi;
		if (special_pattern.test($("#content").val()) == true
			|| special_pattern.test($("#ordPhone").val()) == true
			|| special_pattern.test($("#ordName").val()) == true) {
			$("#modal_custom_msg").text("특수 문자는 입력 할 수 없습니다.");
			modalCustomOpen();
			return false;
		}

		if ($("#ordPhone").val().length === 0) {
			$("#modal_custom_msg").text("이름을 입력해 주세요.");
			modalCustomOpen();
			return false;
		}

		if ($("#ordPhone").val().length === 0) {
			$("#modal_custom_msg").text("전화번호를 입력해 주세요.");
			modalCustomOpen();
			return false;
		}

		if ($("#datepicker").val().length === 0) {
			$("#modal_custom_msg").text("배송 희망 일자를 입력해 주세요.");
			modalCustomOpen();
			return false;
		}
		const formData = new FormData();

		formData.append("shopNo", $("#shopNo").val());
		formData.append("content", $("#content").val());
		formData.append("ordPhone", $("#ordPhone").val());
		formData.append("ordName", $("#ordName").val());
		formData.append("inquiryType", $("#inquiryType").val());
		formData.append("datepicker", $("#datepicker").val());

		//로딩
		$('.wrap-loading').removeClass('display-none');
		$.ajax({
			type: 'POST',
			url: "/englander/shipDateAjax",
			data: formData,
			cache: false,
			contentType: false,
			processData: false,
			enctype: 'multipart/form-data'
		}).always(function (data) {
			//로딩제거
			$('.wrap-loading').addClass('display-none');
			modal_shipdate_complete();
		}).done(function (data) {
			$('#result-image').attr("src", data);
			$("#uploadBtn").attr("onclick", "modal_shipdate_complete()");
		})
	}

</script>

</html>