<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>메뉴</title>
	<link rel="stylesheet" th:href="@{/englander/css/font.css}" />
	<link rel="stylesheet" th:href="@{/englander/css/reset.css}" />
	<link rel="stylesheet" th:href="@{/englander/css/ui.css}" />
	<link rel="stylesheet" th:href="@{/englander/css/common.css}" />
	<link rel="stylesheet" th:href="@{/englander/_custom/custom.css}" />
	<link rel="stylesheet" th:href="@{/englander/css/menu.css}" />
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>

<body>
	<!--
	<header class="page-header">
		<div class="left-area">
			<img src="/englander/assets/ico_headphone_w.svg" alt="headphone" class="icon" />
			<span class="title">보이는 ARS</span>
		</div>
		<div class="right-area">
			<div class="button" onclick="handleClickClose()">
				<img src="/englander/assets/ico_close_w_menu.svg" alt="headphone" class="icon" />
				<span class="title">닫기</span>
			</div>
		</div>
	</header>
	-->
	<div class="page-container">
		<div class="menu">
			<div class="menu-header">
				<img src="/englander/_custom/ico_logo.svg" alt="logo" class="logo" />
				<p class="title">안녕하세요. 잉글랜더 입니다.<br />원하시는 서비스를 선택해주세요.</p>
			</div>
		</div>
		<div class="content">
			<div class="menu">
				<a th:onclick="|javascript:fnMoveMenu()|">
					<div class="ui-box-button">
						<img src="/englander/assets/ico_menu_1.svg" alt="speak_ars" class="icon" />
						<div class="menu-name">
							<p class="name">배송조회</p>
						</div>
					</div>
				</a>
				<a href="#">
					<div class="ui-box-button">
						<img src="/englander/assets/ico_menu_2.svg" alt="speak_ars" class="icon" />
						<div class="menu-name">
							<p class="name">주문 변경 요청</p>
						</div>
					</div>
				</a>
				<a href="#">
					<div class="ui-box-button">
						<img src="/englander/assets/ico_menu_3.svg" alt="speak_ars" class="icon" />
						<div class="menu-name">
							<p class="name">교환 반품 요청</p>
						</div>
					</div>
				</a>
				<a href="#">
					<div class="ui-box-button">
						<img src="/englander/assets/ico_menu_4.svg" alt="speak_ars" class="icon" />
						<div class="menu-name">
							<p class="name">AS 요청</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<!-- notice 
	<div class="notice" id="notice">
		<p>3G, LTE, 5G 환경에서는 데이터 요금이 발생합니다.</p>
	</div>-->
	<!-- footer -->
	<div class="page-footer-navigation">
		<div class="controller">
			<div class="left-area" onclick="fnArsCall('service00')">
				<div class="button">
					<img src="/englander/assets/ico_headphone.svg" alt="call" class="icon" />
					<span class="title">상담원 연결</span>
				</div>
			</div>
			<div class="right-area" onclick="fnArsCall('service00')">
				<div class="button">
					<img src="/englander/assets/ico_phone.svg" alt="cancel" class="icon" />
					<span class="title">통화종료</span>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:inline="javascript">

	const urlParams = new URL(location.href).searchParams;
	const token = urlParams.get('token');

	window.onload = function () {
		fnOnLoad();
		fnArsCall("index");
	};

	function fnMoveMenu() {
		location.href = "/englander/auth?token=" + token;
	}
</script>

</html>