<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>메뉴</title>
	<link rel="stylesheet" th:href="@{/sornia/css/font.css}" />
	<link rel="stylesheet" th:href="@{/sornia/css/reset.css}" />
	<link rel="stylesheet" th:href="@{/sornia/css/ui.css}" />
	<link rel="stylesheet" th:href="@{/sornia/css/common.css}" />
	<link rel="stylesheet" th:href="@{/sornia/_custom/custom.css}" />
	<link rel="stylesheet" th:href="@{/sornia/css/menu.css}" />
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>

<body>
	<div class="page-container">
		<div class="menu">
			<div class="menu-header">
				<img src="/sornia/_custom/ico_logo.svg" alt="logo" class="logo" />
				<p class="title">안녕하세요. 잉글랜더 입니다.<br />원하시는 서비스를 선택해주세요.</p>
			</div>
		</div>
		<div class="content">
			<div class="menu">
				<div class="ui-box-sub-button" th:onclick="|javascript:fnMoveMenu('getShip')|">
					<img src="/sornia/assets/ico_menu_1.svg" alt="delivery" class="icon" />
					<div class="menu-name">
						<p class="name">배송 조회</p>
						<img src="/sornia/assets/ico_more.svg" alt="more" class="icon" />
					</div>
				</div>
				<div class="ui-box-sub-button" onclick="handleToggleSubMenu(event, this)">
					<img src="/sornia/assets/ico_menu_2.svg" alt="exchange" class="icon" />
					<div class="menu-name">
						<p class="name">주문 변경 요청</p>
						<img src="/sornia/assets/ico_more.svg" alt="more" class="icon" />
					</div>
					<!-- menu -->
					<div class="menu-modal">
						<div class="menu-list">
							<img src="/sornia/assets/ico_close_w.svg" alt="close" class="icon"
								onclick="handleToggleSubMenu(event, this)" />
							<div class="header">
								<p class="name">주문 변경 요청</p>
								<p class="description">원하시는 서비스를 선택해주세요.</p>
							</div>
							<div class="content">
								<ul>
									<a th:onclick="|javascript:fnMoveMenu('changeShip')|">
										<li>배송지 변경</li>
									</a>
									<a th:onclick="|javascript:fnMoveMenu('shipDate')|">
										<li>배송 희망일 요청</li>
									</a>
									<a th:onclick="|javascript:fnMoveMenu('cancelOrder')|">
										<li>주문 취소</li>
									</a>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="ui-box-sub-button"th:onclick="|javascript:fnMoveMenu('requestExRe')|">
					<img src="/sornia/assets/ico_menu_3.svg" alt="return" class="icon" />
					<div class="menu-name">
						<p class="name">교환 반품 요청</p>
						<img src="/sornia/assets/ico_more.svg" alt="more" class="icon" />
					</div>
					</div>
				</div>
				<div class="ui-box-sub-button" th:onclick="|javascript:fnGoInquiry('ASRequest')|">
					<img src="/sornia/assets/ico_menu_4.svg" alt="exchange" class="icon" />
					<div class="menu-name">
						<p class="name">AS 요청</p>
						<img src="/sornia/assets/ico_more.svg" alt="more" class="icon" />
					</div>
				</div>
				<br><br><br>
				<br><br><br>

				<div  th:onclick="|javascript:fnGoInquiry()|" class="ui-button primary" style="width: 75%;margin: 0 auto">
					<span class="title">기타문의</span>
				</div>
			</div>
		</div>

	</div>
	<!-- notice -->

	<!-- footer -->
	<div class="page-footer-navigation">
		<div class="controller">
			<div class="left-area">
				<div class="button" onclick="fnCallCRS()">
					<img src="/sornia/assets/ico_headphone.svg" alt="call" class="icon" />
					<span class="title">상담원 연결</span>
				</div>
			</div>
			<div class="right-area">
				<div class="button">
					<img src="/sornia/assets/ico_phone.svg" alt="cancel" class="icon" />
					<span class="title">통화종료</span>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	const urlParams = new URL(location.href).searchParams;
	const token = urlParams.get('token');

	window.onload = function () {
		fnOnLoad();
		fnArsCall("index");
	};

	function fnMoveMenu(inquiryType) {
		
		/*
			getShip     : 배송 조회
			changeShip : 배송지 변경
			shipDate : 배송 희망일 요청
			cancelOrder 주문 취소
			requestExRe 교환 반품 요청	
			ASRequest : AS요청
		*/
		var form = document.createElement('form');
		form.setAttribute('method', 'post');
		form.setAttribute('action', "/sornia/auth?token=" + token);
		form.appendChild(addHiddenField('inquiryType', inquiryType));
		document.body.appendChild(form);
		form.submit();
	}
	
	function fnGoInquiry(inquiryType){
		var form = document.createElement('form');
		form.setAttribute('method', 'post');
		form.setAttribute('action', "/sornia/inquiry?token=" + token);
		if(inquiryType != null){
			form.appendChild(addHiddenField('inquiryType', inquiryType));	
		}		
		document.body.appendChild(form);
		form.submit();
	} 

	function handleToggleSubMenu(event, target) {
		event.stopPropagation();

		if (
			target.className === 'icon' &&
			String(target.getAttribute('src')).includes('ico_close_w')
		) {
			target.parentElement.parentElement.classList.remove('visible');
		} else {
			for (let i = 0, length = target.children.length; i < length; ++i) {
				if (target.children[i].className === 'menu-modal') {
					target.children[i].classList.add('visible');
					break;
				}
			}
		}
	}
</script>

</html>